:host ::ng-deep .p-button{
    width: 100%;
}

:host ::ng-deep .p-button{
    background: rgb(255, 115, 0);
    border-color: rgb(255, 89, 0);
    color: aliceblue;
}

:host ::ng-deep .p-button:hover{
    background: rgb(255, 94, 0);
    border-color: rgb(255, 89, 0);
}

:host ::ng-deep .p-button.p-button-text:enabled:hover{
    background: rgb(255, 94, 0);
    border-color: rgb(255, 89, 0);
    color: aliceblue;
}